<h1>投稿一覧</h1>

<ul>
    <% @posts.each do |post| %>
        <li>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <p>画像</p>
        <% if post.image.attached? %>
          <%= image_tag post.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
        <span>
            <small><%= post.created_at %></small>
        </span>
        <div>
            <%= link_to "編集", edit_post_path(post) %>
            <%= button_to "削除", post_path(post), method: :delete %>
        </div>
        </li>
    <% end %>
</ul>
